<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>SportsScoreControl</title>
    <!--<link rel="stylesheet" media="screen" href="/static/bootstrap.min.css">-->
    <link href="static/use_this.min.css" media="screen" rel="stylesheet">
</head>

<body class="body">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sports </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mlb">MLB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nfl">NFL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nba">NBA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nhl">NHL</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
    <body>
    {% if page_type == 'home' %}
    <h3>This is the home page</h3>
    {% else %}
        <h3>Display Options</h3>
        <form name="myForm" action="" method="post" onsubmit="">
            <p>
                <input id="toggle-one" type="checkbox" data-toggle="toggle" > Scores <br>
                {% for stat in stats %}
                <input type="checkbox"  data-toggle="toggle"> {{ stat }} <br>
                {% endfor %}
            </p>
        </form>
    {% endif %}
    </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</html>

