<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>SportsScoreControl</title>
    <!--<link rel="stylesheet" media="screen" href="/static/bootstrap.min.css">-->
    <link href="static/use_this.min.css" media="screen" rel="stylesheet">
</head>

<body class="body">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sports </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</body>
    <body>
    {% if page_type == 'home' %}

    <form name="myForm" action="/submit" method="post" onsubmit="">
    <div class="row">
        {% for sport, stats in sports.items() %}
        <div class="column">
            <h4 class="SportOptions">{{ sport }}</h4>
                    <p id="checkBoxes">
                        <input name="{{ sport }}Score" id="toggle-score" class="{{ sport }}Score" type="checkbox" data-toggle="toggle" checked value='true'> Scores
                        <br/>
                        {% for stat in stats %}
                        <input name="{{ sport }}" id="toggle-{{ stat[0] }}" type="checkbox"  class="{{ sport }}" data-toggle="toggle" value="{{ stat[1] }}"> {{ stat[0] }}
                        <br/>
                        {% endfor %}
                    </p>
        </div>
    {% endfor %}
        <div class="DisplyButton">
            <p>
                <input name="submit" type="submit" value="Display">
            </p>
        </div>
    </div>
    </form>
    {% endif %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="/static/use_this.min.js"></script>
</body>
</html>

